@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.element {
  transition: transform 0s; /* No animation duration */
  transform: translateY(0); /* Initial state */
}

.active {
  transform: translateY(10px); /* Transformed state */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
